.html {
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #689ba3;
  width: 100%;
  font-family: "Exo", sans-serif;
}
h1 {
  padding: 0px;
  text-align: center;
}
form {
  width: 100%;
}
.wrapper {
  width: 500px;
  margin: auto;
  border: 1px black solid;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  background-color: #c2ebf2;
  border-radius: 20px;
}
.formularInhalt {
  padding-top: 10px;
  padding-bottom: 10px;
}
.textInput {
  width: 100%;
  display: block;
  font-size: 16px;
  border-radius: 10px;
}
.radioButton {
  display: block;
}
.vorname {
}
.nachname {
}
.geschlecht {
}
.email {
}
.telefonnummer {
}
.submitButton {
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
}
.checkliteUeberschrift {
  margin-top: 10px;
}
.checkliste {
  margin-top: 10px;
}
.errormsg {
  color: red;
  visibility: hidden;
  display: none;
}
.error .errormsg {
  visibility: visible;
  display: block;
  color: red;
}

.succesmsg {
  visibility: hidden;
  display: none;

  color: green;
}
.succes .succesmsg {
  visibility: visible;
  display: block;
  color: green;
}
.error input {
  border-color: red;
  color: red;
}

.succes input {
  border-color: green;
  color: green;
}
